// This file is for changes we want to keep if we use the DevExtreme theme creator to recreate dx.light.css or dx.common.css
@import "statpro";
@import "bootstrap/variables";
@import "mixins";

.dx-widget
{
  color: #2b2b2b;
  font-weight: normal;
  font-size: $baseFontSize;
  font-family: $statproBodyFontFamily;
}

.dx-datagrid-headers {
  color: #030303;
  text-align: left;
  vertical-align: bottom;
  font-weight: bold;
}

.dx-datagrid-text-content {
  padding-bottom: 5px;
  padding-top: 3px;
}

.dx-pager .dx-pages .dx-selection, .dx-pager .dx-page-sizes .dx-selection
{
  color: #fff;
  background-color: #C1C7CB;
}

.dx-datagrid-table .dx-row>td
{
  vertical-align: middle !important;
}

.dx-datagrid .dx-row > td {
  padding: 4px 7px;
}

// This hides the search bars
.dx-datagrid-filter-row {
  display: none;
}

.dx-overlay-wrapper {
  z-index: $zindexModal + 10 !important;
}

.dx-loadindicator-content {
  width: 32px !important;
  height: 32px !important;
}

.dx-datagrid-rowsview .dx-row>td {
  font-weight: normal;
  font-family: $statproBodyFontFamily;
  overflow: visible;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@font-face
{
  font-family: 'DXIcons';
  src: asset-url('dxicons.eot');
  src: asset-url('dxicons.eot') format('embedded-opentype'), asset-url('dxicons.woff') format('woff'), asset-url('dxicons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.dx-column-chooser-item {
  width: 100% !important;
}

.dxDataGrid-container {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-body {
  .dxDataGrid-container {
    padding: 0 0 1rem;
  }
}

.dxDataGrid {
  cursor: default;
  display: block;
  height: 100%;
  position: relative;
  margin: 9px;
}

.grid-btn {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-lines) > td,
.dx-datagrid-rowsview .dx-selection.dx-row:hover:not(.dx-row-lines) > td {
  border-bottom: 0px;
  border-top: 0px;
}

.dx-scrollbar-vertical .dx-scrollable-scroll, .dx-scrollbar-vertical.dx-scrollbar-hoverable {
  width: 1rem;
}

.dx-scrollbar-vertical.dx-scrollbar-hoverable.dx-state-hover, .dx-scrollbar-vertical.dx-scrollbar-hoverable.dx-scrollable-scrollbar-active, .dx-scrollbar-vertical.dx-scrollbar-hoverable.dx-state-hover .dx-scrollable-scroll, .dx-scrollbar-vertical.dx-scrollbar-hoverable.dx-scrollable-scrollbar-active .dx-scrollable-scroll{
  width: 1rem;
}

.dx-scrollbar-horizontal.dx-scrollbar-hoverable, .dx-scrollbar-horizontal .dx-scrollable-scroll {
  height: 1rem;
}

.dx-scrollbar-horizontal.dx-scrollbar-hoverable.dx-state-hover, .dx-scrollbar-horizontal.dx-scrollbar-hoverable.dx-scrollable-scrollbar-active, .dx-scrollbar-horizontal.dx-scrollbar-hoverable.dx-state-hover .dx-scrollable-scroll, .dx-scrollbar-horizontal.dx-scrollbar-hoverable.dx-scrollable-scrollbar-active .dx-scrollable-scroll{
  height: 1rem;
}

.dx-scrollbar-horizontal{
  border-top: 3px solid #fff;
  border-bottom: 14px solid #fff;
}

.dx-scrollbar-horizontal.dx-scrollbar-hoverable .dx-scrollable-scroll.dx-state-invisible .dx-scrollable-scroll-content{
  background: rgba(96,96,96,.7);
}

.dx-scrollable-scroll{
  background: none!important;
}

.dx-scrollbar-hoverable {
height: 0px!important;
}

.dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-select {
  width: 25px !important;
  min-width: 25px !important;
  padding-right: 5px !important;
}

.dx-scrollable-content {
  padding-bottom: 1rem;
}

.dx-cell-error-odd {
  background-color: rgb(255, 246, 246) !important;
}

.dx-cell-error-even {
  background-color: rgba(255, 208, 113, 0.5) !important;
}

td.dx-pointer-events-none {
  border: none !important;
}

.dx-row.dx-data-row.dx-column-lines [role*="gridcell"] {
  @include overflow-ellipsis;
}

.dx-item-content.dx-menu-item-content form {
  margin: 0px;
}

